<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
    <div style="text-align: center;">
      <h1>Signin Success</h1>
      <p><span style="font-weight: bold;">Name : </span><%=name%></p>
      <p><span style="font-weight: bold;">Email : </span><%=email%></p>
      <p><span style="font-weight: bold;">Token : </span><%=idToken%></p>
      <br />
      <a href="/xo">Go to XO Game</a>
      <br />
      <br />
      <a href="/logout">Log out</a>
    </div>
  </body>
</html>
